.sidebar {
    min-width: 200px;
    padding: 20px;
    /* background-color: var(--page-bg-color); */
    border-right: 1px solid #ccc;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 60px;
}
  
.tagList {
    list-style: none;
    padding: 0;
}
  
.tagList li {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.tagList li:hover,
.tagList li.selected {
    background-color: var(--primary-color);
    color: white;
}
  