.container {
    display: flex;
}
  
.sidebar {
    min-width: 200px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 20px;
}
  
.separator {
    height: 90%;
    border-right: 1px solid #ccc;
    margin-top: 30px;
}

.titulo {
    margin-bottom: 20px;
    font-size: 1.3em;
    color: var(--primary-color);
    text-align: left;
}
  
.tagList {
    list-style: none;
    padding: 0;
    width: 100%;
}
  
.tagList li {
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}
  
.tagList li:hover,
.tagList li.selected {
    background-color: var(--primary-color);
    color: white;
}