@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #1e56a0;
  --page-bg-color: rgb(251, 249, 241);
  --secondary-color: rgb(229, 225, 218);
  --bg-white-pastel-login: rgb(229, 225, 218);
}

*{
  font-family: 'Roboto', sans-serif;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  padding: 20px;
}
