@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #1e56a0;
  --page-bg-color: rgb(251, 249, 241);
  --secondary-color: rgb(229, 225, 218);
  --bg-white-pastel-login: rgb(229, 225, 218);
}

* {
  font-family: "Roboto", sans-serif;
}

.font-openSans {
  font-family: "Open Sans", sans-serif;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  padding: 20px;
}

.productContainerAdmin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3vh;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
