.productCardAdmin {
    display: flex;
    flex-direction: row;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    color: var(--primary-color);
    max-width: none;
    padding: 10px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    transition: transform 0.2s ease;
    height: 100px;
}

.productCardImage {
    flex: 0 0 auto;
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.productCardImage img {
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-left: 5px;
}

.separator {
    height: 100%;
    border-right: 1px solid #ccc;
    margin-right: 20px;
}

.productCardDetails {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.productCardDetails h2, .productCardDetails p:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

.productCardDetails h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.productCardDetails p {
    font-size: 16px;
    margin: 0;
    padding-left: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editIcon {
    position: relative; 
    opacity: 0; 
    margin-left: 20px;
    transition: opacity 0.2s ease;
}

.productCardAdmin:hover {
    transform: scale(1.03);
    box-shadow: var(--primary-color) 0 0 5px;
}
  
.productCardAdmin:hover .editIcon {
    opacity: 1;
}
  
.editIcon:hover {
    cursor: pointer;
}