.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    border-radius: 5px;
    max-width: 800px;
    width: 90%; 
    max-height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: var(--primary-color);
}

.modalHeader {
    padding: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-bottom: var(--primary-color) 1px solid;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5rem;
}

.modalBody {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.modalImage {
    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
}

.modalImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 30px;
}

.modalDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.modalDetails h3 {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modalDetails h4 {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 20px;
}

.modalDetails p {
    text-align: justify;
    font-size: 1.1rem;
}

.priceAndStatus {
    display: flex;
    gap: 10px;
}

.priceAndStatus > * { /* Todos os elementos filhos */
    flex: 1;
}

.modalDetails select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    color: var(--primary-color);
    font-weight: bold;
}

.modalDetails select:focus, .modalDetails input:focus,
.modalDetails textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.closeButton {
    position: absolute;
    font-size: 1.5rem;
    top: 5px;
    right: 20px;
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.closeButton:hover {
    transform: scale(1.2);
}

.modalDetails input,
.modalDetails textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    color: var(--primary-color);
    font-weight: bold;
}

.modalDetails textarea {
    width: 100%;
}

.saveButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
    transition: scale 0.3s ease;
}

.saveButton:hover {
    scale: 1.01;
}