.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: white;
    border-radius: 5px;
    max-width: 800px;
    width: 90%; 
    max-height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: var(--primary-color);
}

.modalHeader {
    padding: 15px;
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
}
  
.modalBody {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.modalImage {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.modalImage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.modalDetails {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Adiciona rolagem quando o conteúdo é muito grande */
}

.modalDetails h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden; 
    word-break: break-all;
}

.modalDetails h3 {
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.modalDetails h4 {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 20px;
}

.modalDetails p {
    text-align: justify;
    font-size: 1rem;
}

.closeButton {
    position: absolute;
    font-size: 1.5rem;
    top: 2px;
    right: 15px;
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.closeButton:hover {
    transform: scale(1.2);
}

.addToCartButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: scale 0.3s ease;
}

.addToCartButton:hover {
    scale: 1.01;
}

.addToCartButton img {
    margin-right: 5px;
}

.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}